@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');
@charset "utf-8";
/* CSS Document */

/* Global Styles */
* {
  box-sizing: border-box;
}

img,
embed,
object,
video {
  max-width: 100%;
}

body,
td,
th,
ul,
li,
p {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

.clearBoth {
  clear: both;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 700;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  position: relative;
}

#footer {
  background-color: #444;
  color: #bbb;
  letter-spacing: 1px;
  padding: 1.6em;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em 0;
}

nav h1 a {
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

#breadcrumb {
  width: 100%;
  padding: .5em 1em;
  background-color: #eee;
  margin: 0;
  /* width: calc(50% - 80px); */
}

/* Display list items side by side */
#breadcrumb li {
  display: inline-block;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px 8px 8px 0;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0066bd;
  text-decoration: none;
  display: block;
  min-width: 48px;
  min-height: 48px;
  padding: .8em;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.filter-options h2 {
  color: white;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  height: 48px;
  margin-bottom: 1em;
  padding: 0 1em;
  font-size: 1em;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#restaurants-list li {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  display: block;
  border-radius: 6px;
  list-style-type: none;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 100%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

#restaurants-list li h2 {
  color: #cc7815;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1em 0 .2em;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #000;
  display: inline-block;
  margin: 1em 0 0;
  padding: .7em 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

/* ====================== Restaurant Details ====================== */
.inside {
  margin-top: 138px;
}

@media screen and (max-width: 507px) {
  .inside {
    margin-top: 162px;
  }
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #cc7815;
  margin: 1em 0 1.2em;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  margin: .8em 0;
  font-size: 1.1em;
  font-weight: 700;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  letter-spacing: 10px;
  margin: 0 0 1.2em;
  padding: .4em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 1em;
  width: 100%;
  overflow: hidden;
}

#reviews-container {
  padding: 1em;
}

#reviews-container h2 {
  color: #cc7815;
  margin: 1em 0 1.2em;
  line-height: 1.1;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  display: block;
  border-radius: 6px;
  list-style-type: none;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 100%;
}

#reviews-list li p {
  margin: 0 0 1em;
}

#restaurant-hours {
  width: 100%;
}

#restaurant-hours td {
  color: #666;
}

/* Responsive Styles for bigger screens
*******************************************
**********************************************/
@media screen and (min-width: 768px) {

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    flex-direction: row;
    align-items: center
  }

  .filter-options h2 {
    margin: 0;
  }

  .filter-options select {
    margin: 0 0 0 1em;
  }

  /* ====================== Restaurant Listing ====================== */

  #restaurants-list li {
    width: 49.5%;
  }

  /* ====================== Restaurant Details ====================== */

  #restaurant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #restaurant-info {
    width: 49%;
  }

  #restaurant-hours {
    width: 49%;
    padding-left: 2em;
  }

}

@media screen and (min-width: 1024px) {

  /* ====================== Restaurant Listing ====================== */

  #restaurants-list li {
    width: 32.66666%;
  }

  /* ====================== Restaurant Details ====================== */

  .inside #map-container {
    position: fixed;
    top: 72px;
    right: 0;
    left: 50%;
    bottom: 0;
    height: 100%;
    width: 50%;
  }

  #restaurant-container {
    width: 50%;
    flex-direction: column;
  }

  #restaurant-info {
    width: 100%;
  }

  #restaurant-hours {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #reviews-container {
    width: 50%;
  }

  .inside #footer {
    width: 50%;
  }

  #breadcrumb {
    width: 50%;
  }


}

@media screen and (min-width: 1440px) {

  /* ====================== Restaurant Listing ====================== */

  #restaurants-list li {
    width: 24.5%;
  }

}